body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: #f8f8f8;
            color: #333;
        }
        header {
            background: #111;
            color: white;
            padding: 20px;
            text-align: center;
            font-size: 28px;
        }
        nav {
            background: #333;
            display: flex;
            justify-content: center;
            gap: 30px;
            padding: 12px 0;
        }
        nav a {
            color: white;
            text-decoration: none;
            font-size: 16px;
        }
        nav a:hover{
            color: aqua;
            transform: scale(1.1);
            transition: 0.4s;
        }
        .section-title {
            text-align: center;
            font-size: 32px;
            margin: 40px 0 20px;
        }
        .products {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            padding: 0 40px 40px;
        }
        
        .product-card {
            background: white;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
            overflow: hidden;
            text-align: center;
            padding-bottom: 20px;
        }
        .product-card img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        .sizes {
            margin: 10px 0;
        }
        .size-btn {
            padding: 6px 10px;
            border: 1px solid #111;
            background: white;
            margin: 3px;
            cursor: pointer;
            border-radius: 5px;
        }
        .size-btn.active {
            background: #111;
            color: white;
        }
        .add-cart {
            margin-top: 10px;
            background: #25d366;
            padding: 10px 20px;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        footer {
            background: #111;
            color: white;
            text-align: center;
            padding: 20px;
            margin-top: 40px;
        }